:root {
  --amarelo-claro: #EEBB3B;
  --amarelo-escuro: #D6962A;
  --claro: #FEFEF9;
  --escuro: #1E1E1E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--claro);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  opacity: 0.7;
}

button {
  background-color: var(--escuro);
  color: var(--claro);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--amarelo-escuro);
}

h1 {
  font-size: 64px;
  font-weight: 700;
  color: var(--escuro);
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

p {
  font-size: 14px;
  font-weight: 400; 
}

.modal-backdrop.show {
  opacity: 0.1 !important;
}